@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* navbar section */
.navbar-section {
    width: 100%;
    height: 92px;
    background-color: #ffffff;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    width: 139px;
    height: 60px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 500;
}

.navbar-btn {
    width: 164px;
    height: 44px;
    background-color: #469165;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}

.navbar-btn:hover{
    background-color: #ffffff;
    color: #52996f;
    border: 2px solid #52996f;
}
/* Banner Section */

.banner-section {
    width: 100%;
    height: 674px;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 154px 120px 0;
}

.hero-content-box {
    width: 100%;
    height: 380px;
    text-align: center;

}

.pill-btn {
    width: 229px;
    height: 30px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin: auto;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #469165;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-group button {
    padding: 12px 16px;
    background-color: #469165;
    color: white;
    font-size: 16px;
    border: 2px solid #469165;
    border-radius: 4px;
    margin: 20px 10px;
    display: flex;
    transition: 0.3s;

}

.btn-group button:hover{
    background-color: transparent;
    border: 2px solid #ffffff;
}

.btn-group button:last-child {
    background-color: transparent;
    border: 2px solid white;
    transition: 0.3s;
}

.btn-group button:last-child:hover{
    background-color: #469165;
    border: 2px solid #469165;
}
/* notes-section */
.notes-section {
    width: 100%;
    height: 448px;
    padding: 0 120px;
    text-align: center;
}

.title-description {
    margin-top: 50px;
    text-align: center;
    line-height: 40px;
}

.title-description h1 {
    font-size: 48px;
}

.row {
    margin-top: 25px;
    display: flex;

}

.card {
    width: 322px;
    height: 300px;
    margin: 0 5px;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 25px rgb(202, 200, 200);
    background-color: #ffffff;

}

.card img {
    width: 50px;
    height: 50px;
    background: rgba(249, 85, 85, 1);
    padding: 5px;
    border-radius: 50%;
}

/* Second Brain Section  */

.second-brain-section {
    width: 100%;
    padding: 50px 120px;
    display: flex;
    justify-content: center;
}

.second-brain-img {
    width: 600px;
    height: 600px;
}

.secound-brain-content {
    width: 50%;
    padding: 120px 50px;

}

.secound-brain-content span p {
    font-size: 16px;
    margin: 10px 0;
}

.secound-brain-content h2{
    font-size: 48px;
    margin: 10px 0;
}

.second-brain-list {
    list-style-image: url('../assets/CheckCircle.png');
    line-height: 25px;
    padding-left: 25px;
}

.second-brain-list li {
    font-size: 16px;
}

/*  Early Access Section */
.early-section{
    width: 100%;
    padding: 0 120px 120px;
}

.inner-section{
    width: 100%;
    padding: 80px 40px;
    background-color: rgba(247, 246, 242, 1);
    text-align: center;
}

.inner-section h1{
    font-size: 48px;
}

.early-btn{
    padding: 12px 16px;
    background-color: #469165;
    color: white;
    font-size: 16px;
    border: 2px solid #469165;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 20px auto;
    transition: 0.3s;
}

.early-btn:hover{
    background-color: black;
    
}


/* footer section */

footer{
    width: 100%;
    padding: 120px 120px 0;
    background-color: rgba(0, 25, 49, 1);
}
.top-footer{
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.social-section{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}
.social-section img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    color: #ffffff;
}

.copyright{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    color: #ffffff;
    margin-top: 25px;
}